@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: normal;
    src:
        local('Merriweather'),
        local('Merriweather Regular'),
        local('Merriweather-Regular'),
        url('font/Merriweather-Regular.woff2') format('woff2'),
        url('font/Merriweather-Regular.woff') format('woff'),
        url('font/Merriweather-Regular.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: italic;
    src:
        local('Merriweather Italic'),
        local('Merriweather-Italic'),
        url('font/Merriweather-Italic.woff2') format('woff2'),
        url('font/Merriweather-Italic.woff') format('woff'),
        url('font/Merriweather-Italic.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    src:
        local('Merriweather Bold'),
        local('Merriweather-Bold'),
        url('font/Merriweather-Bold.woff2') format('woff2'),
        url('font/Merriweather-Bold.woff') format('woff'),
        url('font/Merriweather-Bold.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: italic;
    src:
        local('Merriweather BoldItalic'),
        local('Merriweather-BoldItalic'),
        url('font/Merriweather-BoldItalic.woff2') format('woff2'),
        url('font/Merriweather-BoldItalic.woff') format('woff'),
        url('font/Merriweather-BoldItalic.ttf') format('truetype');
    font-display: block;
}

body {
    font-family: 'Merriweather', Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #222;
    background-color: #faf9f0;
}

#container {
    width: 41em;
    min-height: 100vh;
    max-width: 98%;
    margin: 1em auto;
}

h1 {
    line-height: 1.1em;
}

a {
    text-decoration: none;
    color: #007b8b;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #803a4f;
}

.internal-link {
    text-decoration: none;
    color: #222;
}

.internal-link:visited {
    color: #222;
}

li {
    margin: 1em 0;
}

#information {
    margin-bottom: 2em;
}

article>header {
    margin-bottom: 2em;
}

section {
    margin-bottom: 2em;
}

th,
td {
    padding: 0.4em 0.2em;
}

abbr {
    text-decoration: none;
  }